.bg-gradient {
  background: linear-gradient(to right, #af04af, #700070) !important;
}

.offer h1::before, .testimonials h1::before, .choice h1::before, .offer h1::after, .testimonials h1::after, .choice h1::after {
  content: "";
  background: linear-gradient(to right, #af04af, #700070);
  height: 4px;
  width: 180px;
  display: block;
  margin: 0px auto;
  margin-top: 15px;
}

.btn-primary {
  background: linear-gradient(to right, #af04af, #700070);
  border: 0;
  border-radius: 20px;
  padding: 6px 25px;
}
.btn-primary:hover {
  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.466);
}

.bg-primary {
  color: black;
}

nav a {
  color: white !important;
  font-weight: bold;
  margin: 0 10px;
}

.hero {
  color: white;
}
.hero a:hover {
  transform: scale(1.2);
}

.offer h2, .testimonials h2, .choice h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
}
.offer h1, .testimonials h1, .choice h1 {
  font-weight: 600;
}
.offer h1::before, .testimonials h1::before, .choice h1::before {
  width: 50px;
  height: 8px;
  transform: translateY(69px);
}
@media (max-width: 1024px) {
  .offer h1 span, .testimonials h1 span, .choice h1 span {
    display: block;
  }
  .offer h1::before, .testimonials h1::before, .choice h1::before {
    transform: translateY(117px);
  }
}

.choice {
  background: #f4f9f8;
}
.choice li {
  margin: 20px 0;
}

.testimonials {
  padding: 10px 15%;
  font-size: small;
}
.testimonials .blog {
  border-left: 4px solid;
  border-image: linear-gradient(to right, #af04af, #700070);
  border-image-slice: 1;
}
.testimonials img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 12px;
}
.testimonials .name {
  font-weight: bolder;
}

.social {
  background: #f6f5f5;
}
.social img {
  width: 65px;
  margin: 0 6px;
}
.social img:hover {
  transform: translateY(-25px);
}

.footer i {
  background: linear-gradient(to right, #af04af, #700070) !important;
  margin: 5px 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  margin: auto 0px;
}
.footer .btn-primary {
  border-radius: 4px;
}
.footer .author span {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
