$bg-gradient: linear-gradient(to right, rgb(175, 4, 175), rgb(112, 0, 112));
.bg-gradient{
    background: $bg-gradient !important;
}
%line{
    content: "";
    background: $bg-gradient;
    height: 4px;
    width: 180px;
    display: block;
    margin: 0px auto;
    margin-top: 15px;

}

.btn-primary{
    background: $bg-gradient;
    border: 0;
    border-radius: 20px;
    padding: 6px 25px;
    &:hover{box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.466);}
}
.bg-primary{
    color: black;
}
nav{
    a{
        color: white !important;
        font-weight: bold;
        margin: 0 10px;
    }
}

.hero{
    color: white;
    a:hover{
        transform: scale(1.2);
    }
}

.offer{
    h2{
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 500;
    }
    h1{
        font-weight: 600;
        &::after{
            @extend %line;
        }
        &::before{
            @extend %line;
            width: 50px;
            height: 8px;
            transform: translateY(69px);
        }
        
        @media (max-width: 1024px) {
            span{
                display: block;
            }
            &::before{
                transform: translateY(117px);
            }
        }
    }

}

.choice{
    @extend .offer;
    background: rgb(244, 249, 248);
    li{
        margin: 20px 0;
    }
}

.testimonials{
    @extend .offer;
    padding: 10px 15%;
    font-size: small;
    .blog{
        border-left: 4px solid;
        border-image: $bg-gradient;
        border-image-slice: 1;
    }
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 12px;
    }
    .name{
        font-weight: bolder;
    }
    
}

.social{
    background: rgb(246, 245, 245);
    img{
        width: 65px;
        margin: 0 6px;
        &:hover{
            transform: translateY(-25px);
        }
    }
}
.footer{
    i{
        background: $bg-gradient !important;
        margin: 5px 5px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    p{
        margin: auto 0px;
    }
    .btn-primary{
        border-radius: 4px;
    }
    .author{
        span{
            font-weight: bold;
        }
    }
}